<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sonyvaio.roteiro02" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="TRADUZIR" />
            </intent-filter>
        </activity>
        <activity android:name=".TraduzirInglesActivity" android:label="TRADUZIR INGLÊS">
            <intent-filter>
                <action android:name="TRADUZIR" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".TraduzirFrancesActivity" android:label="TRADUZIR FRANCÊS" >
            <intent-filter>
                <action android:name="TRADUZIR" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
    </application>

</manifest>
